{% extends 'base.html' %}
{% load static %}
{% block title %}
Blog Page
{% endblock %}
{% block content %}
  <section class="breadcrumb-blog set-bg" data-setbg=" {% static 'img/blog/details/blog-9.jpg' %} " >
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2>Our Blog</h2>
        </div>
      </div>
    </div>
  </section>


  <section class="blog spad">
    <div class="container">
      <div class="row">
        {% for blog in blogs %}
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="blog__item">
            <div class="blog__item__pic set-bg" data-setbg=" {{ blog.image.url }} " ></div>
            <div class="blog__item__text">
              <span><img src=" {% static 'img/icon/xcalendar.png.pagespeed.ic.GXy2gYWDh7.png' %} "  alt=""> {{ blog.published_date|date:"d F Y" }}</span>
              <h5>{{ blog.title }}</h5>
              <a href="{{ blog.get_absolute_url }}">Read More</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}
