{% extends 'base.html' %}
{% load static %}
{% block title %} 
Single Blog Page
{% endblock %}
{% block content %}
  <section class="blog-hero spad">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-9 text-center">
          <div class="blog__hero__text">
            <h2>{{ blog.title }}</h2>
            <ul>
              <li>By Deercreative</li>
              <li>{{blog.published_date}}</li>
              <li>{{comments|length}} Comments</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="blog-details spad">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-12">
          <div class="blog__details__pic">
            <img src="{{blog.image.url}}""  alt="">
          </div>
        </div>
        <div class="col-lg-8">
          <div class="blog__details__content">
            <div class="blog__details__share">
              <span>share</span>
              <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" class="youtube"><i class="fa fa-youtube-play"></i></a></li>
                <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
            <div class="blog__details__text">
              <p>{{blog.content1}}</p>
            </div>
            <div class="blog__details__quote">
              <i class="fa fa-quote-left"></i>
              <p>{{blog.quote}}</p>
              <h6>{{blog.quote_owner}}</h6>
            </div>
            <div class="blog__details__text">
              <p>{{blog.content2}}</p>
            </div>
            <div class="blog__details__option">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="blog__details__author">
                    <div class="blog__details__author__pic">
                      <img src="{{blog.publisher_img.url}} "  alt="">
                    </div>
                    <div class="blog__details__author__text">
                      <h5>{{blog.publisher_name}}</h5>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="blog__details__tags">
                    <a href="#">{{blog.tags}}</a>
                  </div>
                </div>
              </div>
            </div>
            <h3> All Comments</h3>
            {% for comment in  comments %}
            <div class="blog__details__text">
              <p><div class="blog__details__author__pic">
                <img src="{% static 'img/3f9470b34a8e3f526dbdb022f9f19cf7.jpg' %}"  alt="">
              </div> {{comment.name}} | {{comment.date}}</p>
              <p>{{comment.text}}</p>
              <hr>
            </div>
            {% endfor %}
           <div class="blog__details__comment">
              <h4>Leave A Comment</h4>
              <form  method="post">
                {% csrf_token %}
                <div class="row">
                  <div class="col-lg-4 col-md-4">
                    {{form.name}}
                  </div>
                  <div class="col-lg-4 col-md-4">
                    {{form.email}}
                  </div>
                  <div class="col-lg-4 col-md-4">
                    {{form.phone}}
                  </div>
                  <div class="col-lg-12 text-center">
                    {{form.text}}
                    <button type="submit" class="site-btn">Post Comment</button>
                    {% if messages %}
								      <ul class="messages">
								      {% for message in messages %}
									      <li style="border:1px solid black;padding:5px;display: flex;justify-content:center;align-items:center;margin-top:10px;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
									    {% endfor %}
								      </ul>
								    {% endif %}
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
