{% extends 'base.html' %}
{% load static %}
{% block title %}
Shopping Page
{% endblock %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <section class="breadcrumb-option">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb__text">
            <h4>Shop</h4>
            <div class="breadcrumb__links">
              <a href="{% url 'index:index' %}">Home</a>
              <span>Shop</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="shop spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="shop__sidebar">
            <div class="shop__sidebar__search">
              <form method="get">
                <input type="text" placeholder="Search..." name="search">
                <button type="submit"><span class="icon_search"></span></button>
              </form>
            </div>
            <div class="shop__sidebar__accordion">
              <div class="accordion" id="accordionExample">
                <div class="card">
                  <div class="card-heading">
                    <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                  </div>
                  <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                    <div class="card-body">
                      <div class="shop__sidebar__categories">
                        <ul class="nice-scroll">
                          {% for category in categories %}
                          <li><a href="/shop/?categories={{category.id}}&page=1">{{category.category}}</a></li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-heading">
                    <a data-toggle="collapse" data-target="#collapseTwo">Branding</a>
                  </div>
                  <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                    <div class="card-body">
                      <div class="shop__sidebar__categories">
                        <ul class="nice-scroll">
                          {% for brand in brands %}
                          <li><a href="/shop/?brands={{brand.id}}&page=1">{{brand.brand}}</a></li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-heading">
                    <a data-toggle="collapse" data-target="#collapseThree">Filter Price</a>
                  </div>
                  <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                    <div class="card-body">
                      <div class="shop__sidebar__categories">
                        <ul class="nice-scroll">
                          <li><a href="/shop/?price=0-50&page=1">$0.00 - $50.00</a></li>
                          <li><a href="/shop/?price=50-100&page=1">$50.00 - $100.00</a></li>
                          <li><a href="/shop/?price=100-150&page=1">$100.00 - $150.00</a></li>
                          <li><a href="/shop/?price=150-200&page=1">$150.00 - $200.00</a></li>
                          <li><a href="/shop/?price=200-250&page=1">$200.00 - $250.00</a></li>
                          <li><a href="/shop/?price=250-10000&page=1">$250.00+</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-heading">
                    <a data-toggle="collapse" data-target="#collapseFour">Size</a>
                  </div>
                  <div id="collapseFour" class="collapse show" data-parent="#accordionExample">
                    <div class="card-body">
                      <div class="shop__sidebar__size">
                        <label for="xs">xs
                          <input type="radio" id="xs">
                        </label>
                        <label for="sm">s
                          <input type="radio" id="sm">
                        </label>
                        <label for="md">m
                          <input type="radio" id="md">
                        </label>
                        <label for="xl">xl
                          <input type="radio" id="xl">
                        </label>
                        <label for="2xl">2xl
                          <input type="radio" id="2xl">
                        </label>
                        <label for="xxl">xxl
                          <input type="radio" id="xxl">
                        </label>
                        <label for="3xl">3xl
                          <input type="radio" id="3xl">
                        </label>
                        <label for="4xl">4xl
                          <input type="radio" id="4xl">
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="shop__product__option">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="shop__product__option__left">
                  <p>Showing {{frm}}–{{to}} of {{all_shops}} results</p>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="shop__product__option__right">
                    <label>Sort by Price:</label>
                    <select onchange="location = this.value;">
                      <option value="/shop/?order=l2h&page=1">Low To High</option>
                      <option value="/shop/?order=h2l&page=1">High To Low</option>
                      <option value="/shop/?order=os&page=1">Only Sale</option>
                    </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            {% for shop in shops %}
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="product__item">
                <div class="product__item__pic set-bg" data-setbg=" {{shop.image.url}} " >
                  <ul class="product__hover">
                    <form method="post" >
                      {% csrf_token %}
                      <input type="hidden" name="shop_id" value="{{ shop.id }}">
                      <button type="submit" style="background-color: white;width: 36px;height: 37px;margin-bottom:5px;border:none;">
                        <img src=" {% static 'img/icon/xheart.png.pagespeed.ic.eX6BmaqN_X.png' %} " >
                      </button>
                    </form>
                    <li><a href="{{ shop.get_absolute_url }}">
                        <img src=" {% static 'img/icon/xsearch.png.pagespeed.ic.y-8fLDHdJm.png' %} ">
                        </a>
                    </li>
                    <li><a href="{% url 'shop:delete' pk=shop.pk %}">Delete</a></li>
                  </ul>
                </div>
                <div class="product__item__text">
                  <h6>{{shop.title}}</h6>
                  <a href="#" class="add-cart">+ Add To Cart</a>
                  <h5>$ {{ shop.price }}</h5>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="product__pagination">

                {% if current_page is not previous_page %}
                  {% if cat_id %}
                    <a href="/shop/?categories={{cat_id}}&page={{previous_page}}"><i class="fa-solid fa-arrow-left-long"></i></a>
                  {% elif brand_id %}
                    <a href="/shop/?brands={{brand_id}}&page={{previous_page}}"><i class="fa-solid fa-arrow-left-long"></i></a>
                  {% elif price %}
                    <a href="/shop/?price={{price}}&page={{previous_page}}"><i class="fa-solid fa-arrow-left-long"></i></a>
                  {% elif order %}
                    <a href="/shop/?order={{order}}&page={{previous_page}}"><i class="fa-solid fa-arrow-left-long"></i></a>
                  {% elif search %}
                    <a href="/shop/?search={{search}}&page={{previous_page}}"><i class="fa-solid fa-arrow-left-long"></i></a>
                  {% else %}
                    <a href="?page={{previous_page}}"><i class="fa-solid fa-arrow-left-long"></i></a>
                  {% endif %}
                {% endif %}

                {% for page in page_range %}
                  {% if page is current_page %}
                      <a class="active">{{page}}</a>
                  {% else %}
                    {% if cat_id %}
                      <a href="/shop/?categories={{cat_id}}&page={{page}}">{{page}}</a>
                    {% elif brand_id %}
                      <a href="/shop/?brands={{brand_id}}&page={{page}}">{{page}}</a>
                    {% elif price %}
                      <a href="/shop/?price={{price}}&page={{page}}">{{page}}</a>
                    {% elif order %}
                      <a href="/shop/?order={{order}}&page={{page}}">{{page}}</a>
                    {% elif search %}
                      <a href="/shop/?search={{search}}&page={{page}}">{{page}}</a>
                    {% else %}
                      <a href="?page={{page}}">{{page}}</a>
                    {% endif %}
                  {% endif %}
                {% endfor %}

                {% if current_page != total_page_count %}
                  {% if cat_id %}
                  <a href="/shop/?categories={{cat_id}}&page={{next_page}}"><i class="fa-solid fa-right-long"></i></a>
                  {% elif brand_id %}
                    <a href="/shop/?brands={{brand_id}}&page={{next_page}}"><i class="fa-solid fa-right-long"></i></a>
                  {% elif price %}
                    <a href="/shop/?price={{price}}&page={{next_page}}"><i class="fa-solid fa-right-long"></i></a>
                  {% elif order %}
                    <a href="/shop/?order={{order}}&page={{next_page}}"><i class="fa-solid fa-right-long"></i></a>
                  {% elif search %}
                    <a href="/shop/?search={{search}}&page={{next_page}}"><i class="fa-solid fa-right-long"></i></a>
                  {% else %}
                    <a href="?page={{next_page}}"><i class="fa-solid fa-right-long"></i></a>
                  {% endif %}
                {% endif %}

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}